[submodule "idaho-core"]
	path = idaho-core
	url = https://github.com/gsautter/idaho-core.git
[submodule "goldengate-server"]
	path = goldengate-server
	url = https://github.com/gsautter/goldengate-server.git
[submodule "goldengate-server-docs"]
	path = goldengate-server-docs
	url = https://github.com/gsautter/goldengate-server-docs.git
